/* Header.css */
@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(30px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

/* Si usas las clases desktop-only y mobile-only en tu JSX */
.desktop-only {
  display: block !important;
}

.mobile-only {
  display: none !important;
}

@media (max-width: 950px) {
  .desktop-only {
    display: none !important;
  }
  
  .mobile-only {
    display: block !important;
  }
}

@media (min-width: 951px) {
  .desktop-only {
    display: block !important;
  }
  
  .mobile-only {
    display: none !important;
  }
}